/*
 INDEX.CSS
  CREATED: 21 JUL 22 DENNIS DUONG
  MODIFIED: 05 MAR 24 PERCY EADER
*/

/* font options*/
@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url(./assets/fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(./assets/fonts/Roboto-Medium.ttf) format("truetype");
}
/* COLOR PALETTE */
:root {
  --n0: #ffffff;
  --n50: #f7f7f7;
  --n100: #e1e1e1;
  --n200: #cfcfcf;
  --n300: #b1b1b1;
  --n400: #9e9e9e;
  --n500: #7e7e7e;
  --n600: #626262;
  --n700: #515151;
  --n800: #3b3b3b;
  --n850: #2e2e2e;
  --n900: #212121;

  --p50: #eee2fd;
  --p100: #dec9f8;
  --p200: #c3a0ee;
  --p300: #ae83e2;
  --p400: #9469c9;
  --p500: #7d4eb6;
  --p600: #6f489d;
  --p700: #533579;
  --p800: #3c225e;
  --p900: #240f3d;

  --c100: #e9b77c;
  --c150: #e7ab65;

  --success: #6be67f;
  --error: #e66b6b;
}
/* GLOBAL CSS SETTINGS */
html,
body {
  font-family: "Roboto-Medium";
  font-size: 16px;
  scrollbar-gutter: stable;
  width: 1900px;
  height: 100%;
  min-width: 1000px;
  /* min-height: 1000px; */
  background-color: var(--n800);
}

/*text settings general*/
h1 {
  color: white;
  margin: auto;
  font-family: "Roboto";
  font-size: 48px;
  font-weight: bold;
}
h2 {
  color: white;
  margin: auto;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: bold;
}
h3 {
  color: white;
  font-family: "Roboto";
  font-size: 24px;
}
h4 {
  margin: 5px;
  font-family: "Roboto";
  font-size: 20px;
}
p,
span {
  color: var(--n850);
  font-family: "Roboto-Medium";
  margin: 10px;
  font-size: 16px;
}
.bold {
  font-weight: 600;
}
/*general button without overwright*/
button {
  color: var(--n0);
  background-color: var(--p500);
  border: 3px solid var(--n400);
  border-radius: 15px;
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 8px;
  transition: 0.2s;
  min-height: 60px;
}
button:hover {
  background-color: var(--p700);
  color: white;
}
button:disabled {
  color: var(--n400);
  background-color: var(--n600);
}

.content {
  position: -webkit-sticky;
  position: sticky;
  align-self:flex-start;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

/* LEFT SIDE OF PAGE 

GROUPING BY PAGE SIDES. DO NOT DELETE BETWEEN THIS AND THE LINE THAT SAYS
                        "LEFT SIDE DONE"*/

/* RULESET EDITOR */
.left-panel {
  margin: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 0px;
}
.left-panel > .content {
  display:flex;
  flex-direction: column;
  flex-shrink: 1;
  top: 0;
  padding-top: 20px;
  width: 100%
}

/*NEW BUTTON*/

.open-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(165, 150, 150, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.rulesetObject {
  padding: 15px;
}

.rulesetOnPageModalContent h4{
  color:rgb(255, 255, 255)
}

.rulesetOnPageModalContent select {
  height: 35px;
  width: 370px;
  font-size: large;
}

.ruleset-modal-content {
  background: rgb(68, 59, 59);
  padding: 20px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 820px;
  height: 440px;

  p {
    color: white;
    margin: auto;
    font-family: "Roboto";
    font-size: 36px;
  font-weight: bold;

  }
}
.OpenModalOnPageContent {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }   

  ul {
      list-style-type: none;
      padding: 0;
  }

  li {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
  }
}
.details {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.details.active {
  display:block;
}
.open-modal-content {
  background: rgb(68, 59, 59);
  padding: 20px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 740px;
  height: 480px;

  p {
    color: white;
    margin: auto;
    font-family: "Roboto";
    font-size: 36px;
  font-weight: bold;

  }
}

.ruleset-close-button {
  position: absolute;
  top: 2%;
  right: 1.2%;
  width: 8%;
  height: 10%;
  background: solid;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.ruleset-save-button {
  position: absolute;
  top: 85%;
  right: 1.2%;
  width: 20%;
  height: 10%;
  background: solid;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.ruleset-open-button {
  color: var(--n0);
  background-color: var(--p500);
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 8px;
  transition: 0.2s;
  min-height: 60px;
}

/*OPEN Button --- i think all of this pertains but not sure*/
.modalHeader {
  text-align: center;
}
.modalOptions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 40px;
}
.modalOptions button {
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: var(--p600);
}
.modalOptions button:hover {
  background-color: var(--p700);
}
button.modalBack {
  all: unset;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--n900);
  opacity: 0.75;
  z-index: -1;
}
/* Modal Content/Box */
.modal_content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: var(--p600);
  border-radius: 15px;
  border: 3px solid var(--n400);
  max-width: 1000px;
  max-height: 600px;
}
.savedList {
  background-color: var(--n700);
  width: 100%;
  padding: 10px;
  align-items: center;
  overflow: auto;
}
.savedList h4 {
  color: var(--p100);
  margin: 10px;
  font-weight: bold;
  border-bottom: 2px solid var(--p300);
}
.savedList span {
  font-weight: bold;
  border-bottom: 2px dotted var(--n50);
}
.rulesetContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  padding-left: 20px;
}
button.delete {
  all: unset;
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
}
.delete img {
  width: 16px;
  height: 16px;
  align-self: center;
}
.rulesetContent button {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: none;
  border: none;
  color: var(--n0);
}
.rulesetContent button:hover {
  background-color: var(--p600);
  border-radius: 10px;
  color: white;
}
/* SAVED RULESET MODAL */
.modal {
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5; /* Sit on top */
  width: 100%;
  height: 100%;
  /* overflow: auto; Enable scroll if needed */
}

.optionPaneModal,
.name-modal {
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5; /* Sit on top */
  width: 100%;
  height: 100%;
  font-size: 18px;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
  color: var(--n850);
  background-color: var(--c100);
  border: 3px solid var(--n400);
  position: relative;
  left: -12px;
}

/*makes help and search horizontal*/
.helpSearch{
  height: 60px;
  max-width: 300px;
  margin: 0px;
  display: flex;
  flex-direction: horizontal;
}
/*Search bar*/
.search {
  border: 3px solid var(--n400);
  background-color: var(--c100);
  border-radius: 15px;
  outline: solid;
  outline-width: 0px;
  outline-color: var(--n500);
  width: 250px;
  text-align: center;
  color: var(--n100);
  margin: 0px 10px 0px 0px;
}
.search-match {
  display: flex;
  gap: 20px;
}
#search:hover {
  background-color: var(--c150);
  color: white;
}
/*help button and modal*/
#helpButton {
  border: 3px solid var(--n400);
  border-radius: 15px;
  background-color: var(--c100);
  height: 44px;
  width: 44px;
}
#helpButton:hover {
  background-color: var(--c150);
  color: white;
}

.help-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: var(--c100);
}
.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.help-page h2 {
  margin: 20px;
}

.help-page-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(165, 150, 150, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}

.help-page-modal-content {
  background: rgb(68, 59, 59);
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  top: 20px;
  width: 1060px;
  height: 1000px;
  text-align: center;
  
  h1{
    color: var(--c100);
    padding: 20px 0px 50px 0px;
    font-size: 60px;
  }
  h2{
    color: var(--c100);
    padding: 20px 0px 20px 0px;
    font-size: 40px;
  }
  p {
    color: #cbcbcb;
    padding: 20px 0px 20px 0px;
    text-align: center;
    margin: auto;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;

  }
}

.help-page-close-button {
  position: absolute;
  top: 85%;
  right: 1%;
  width:20%;
  height: 10%;
  background: solid;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.popup-content {
  /* Overrides reactjs-popup defaults */
  padding: 0px;
  border: 0;
  border-radius: 15px;
  background-color: transparent;
}

#app {
  width: 100%;
  margin: none;
}
.container-fluid {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.main-page {
  translate: 60px 56px 0px;
  /* width: 100%; */
  min-height: 945px;
  max-width: 1840px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#not-redactable {
  color: var(--n500);
}
/* REDACT MENU */
.editor,
.redact,
.compare,
.templates-manager {
  display: grid;
  
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  grid-template-columns: 18% 60% auto;
}


/* REDACT MENU: R/M Preview Element */


.filters_preview_modal label {
  display: flex;
  align-items: center;
}

.filters_preview_modal input[type="checkbox"] {
  margin-right: 10px;
}

/* PREFERENCES ON PAGE CSS */
/* Preferences Preview Modal */
.preferences_preview_modal {
  width: 100%;
  font-size: 18px;
  max-height: 300px;
}

.preferences-div input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  box-sizing: border-box;
}

.preferences_preview_modal input[type="text" i] {
  margin-right: 5px;
}

.preferences-div h2 {
  color: var(--n850);
}

.preferences-div {
  margin: 15px;
}

.prefSaveButton {
  text-align: center;
  width: 100px;
  height: 40px;
  margin-top: 10px;
}

.preference-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.preference-option input[type="text"] {
  margin-left: 10px;
}

/*FILTER ON PAGE CSS*/
/* Filters Preview Modal */
.filters_preview_modal {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.filters-div {
  height: 400px;
  margin: 15px;
}

.filters-div h2 {
  color: black;
}

.filters-div h4 {
  color: black;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 0;
}

.filters-div input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  box-sizing: border-box;
}

.filters-div label {
  margin: 0;
}

.fieldDiv {
  margin-bottom: 15px;
  margin-top: 10px;
}

/* Container for radio buttons and labels */
.filterRadioButtons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filters-div input[type="radio"] {
  margin-right: 10px;
}

/* Container for checkboxes and labels */
.filterCheckboxes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filters-div input[type="checkbox"] {
  margin-right: 10px;
}


/*Redact, Modify, Preference, Filters Divs CSS*/
.redact-div,
.modify-div, 
.preferences_preview_modal,
.filters_preview_modal {
  margin: 10px 10px 0px 0px;
  border-radius: 15px;
  text-align: center;
  color: var(--n850);
  background-color: var(--c100);
  border: 3px solid var(--n400);
  width: 100%;
  position: relative;
}
.redact-div {
  height: 600px;
}
.redact-div h2 {
  color: var(--n850);
}
/*RULESET ON PAGE CSS*/
/* Ruleset Modal */
.ruleset-modal {
  max-width: 1000px;
  max-height: 500px;
}

.ruleset-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(165, 150, 150, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}

.open-close-button {
  position: absolute;
  top: 2%;
  right: 1.2%;
  width: 8%;
  height: 10%;
  background: solid;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.openPageModalContent h4{
  color:rgb(255, 255, 255)

}

.openOnPageModalContent select {
  height: 35px;
  width: 370px;
  font-size: large;
}

/*LEFT SIDE DONE DO NOT DELETE ABOVE THIS LINE*/






/*MIDDLE PAGE CONTENT*/
.nitf-headers {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  margin: 20px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: var(--p500);
  width: 100%;
  height: 80px;
  transition: 0.2s;
  text-align: center;
}
/*Traingle styling*/
.accordion span, .accordion-open span {
  font-size: 27px;
  color: #c9c9c9;
  display:inline-block;
  margin: 0 auto;
}
.accordion-open span {
  transform: rotate(180deg);
}

/* Add a background color to the button when you move the mouse over it (hover) */
.accordion:hover, .accordion-open:hover {
  background-color: var(--c100);
}
.accordion-open {
  border-radius: 0px 0px 0px 0px;
  /*was 10 10 0 0px*/
  margin-bottom: 0px;
  transition: 0.2s;
  top: 0;
  position: -webkit-sticky;
  position:sticky;
  background-color: var(--p700);
  z-index: 0;
}

/* Style the accordion panel. Note: hidden by default */
.button-panel {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.field-header {
  display: flex;
  flex-direction: row;
  height: 10%;
  max-height: 48px;
  padding-left: 15px;
  justify-content: left;
  align-items: center;
  text-align: left;
  border-bottom: 3px dotted var(--p300);
}
.field-header h4 {
  min-width: 206px;
}
.longName-header {
  width: 50%;
}
.field-sub-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tre-field {
  max-height: 0px;
}

.field-row {
  display: flex;
  align-items: center;
  padding-left: 15px;
  flex-shrink: 1;
  color: black;
  transition: max-height 0.5s ease;
  max-height: 0px;
  visibility: hidden;
  opacity: 0;
  text-wrap: wrap;
}

.field-row div {
  margin-left: 10px;
}
.field-row:hover {
  background-color: var(--n600);
}
.fieldname-box {
  width: 15%;
  text-align: left;
  text-wrap: wrap;
}
.file-name {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 1.75vw;
  color: var(--p200);
  background-color: var(--n700);
  border-radius: 15px 15px 0px 0px;
  text-align: center;
}
.field-panel,
.tre-panel {
  background-color: silver;
  border: 3px solid var(--n400);
  border-radius: 0px 0px 15px 15px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: max-height 0.5s ease;
  max-height: 0;
}

/* Because tre-panel is so long*/
.tre-panel {
  transition: max-height 50s ease;
}

/* RULESET EDITOR: TRE section */

.tre-fields-list {
  background-color: silver;
  border: 3px solid var(--p300);
  border-top: 0px;
  transition: max-height 10s ease;
  max-height: 0px;
  visibility: hidden;
  opacity: 0;
}
.tre-header {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--n900);
  background-color: var(--n500);
  border-radius: 5px;
  color: white;
  transition: max-height 1s ease;
  max-height: 0px;
  visibility: hidden;
  opacity: 0;
}
.tre-header:hover,
.tre-header.active {
  height: 48px;
  font-size: 24px;
  background-color: var(--n700);
}
.longname-box {
  width: 50%;
  text-align: left;
}
/* MIDDLE CONTENT DONE*/

/* RIGHT SIDE OF PAGE*/

.right-panel {
  width: 400px;
}

.ruleset_preview_modal {
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.ruleset_preview_modal > .content {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 100%;
  color: white;
  flex-shrink: 1;
  top:5px;
}

/*Redact, Modify, Preference, Filters Divs CSS*/
.redact-div {
  height: 600px;
}

.redact-div > .selections {
  max-height: 450px;
}

.modify-div {
  height: 400px;
  overflow-y: auto;
}
.modify-div h2 {
  color: var(--n850);
}

.modify-div > .selections {
  position: relative;
  text-align: center;
  overflow-y: auto;
}
/*arrows for modify being shown*/
.arrow{
  font-size: 150%;
}



/* RIGHT SIDE OF PAGE DONE*/





/*DONT THINK WE NEED - to be discused with team*/
/* RULESPECS */
.rule-specs,
.name-ruleset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  height: auto;
  width: 100%;
  max-width: 350px;
  text-align: center;
  color: var(--n0);
  background-color: var(--n850);
  border-radius: 0px 0px 15px 15px;
  border: 3px solid var(--n400);
  border-top: none;
}
.question {
  background-color: var(--n700);
  color: var(--n0);
  width: 75%;
  height: fit-content;
  min-height: 48px;
  font-size: 26px;
  text-align: left;
  margin-bottom: 5px;
  transition: 0.2s;
}
.question:hover {
  background-color: var(--n500);
}
.answer {
  display: none;
  flex-direction: column;
  width: 70%;
  border-left: 5px ridge var(--p500);
}

/* NAMERULESET */
.name-ruleset {
  border-top: 3px solid var(--n400);
  border-left: none;
  border-right: none;
  border-radius: 0;
  width: 400px;
}
.submitBtn {
  margin: 0;
  border-radius: 0px 0px 15px 15px;
}

/* RULESPECS */
.rule-specs,
.name-ruleset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  height: auto;
  width: 100%;
  max-width: 350px;
  text-align: center;
  color: var(--n0);
  background-color: var(--n850);
  border-radius: 0px 0px 15px 15px;
  border: 3px solid var(--n400);
  border-top: none;
}

.question {
  background-color: var(--n700);
  color: var(--n0);
  width: 75%;
  height: fit-content;
  min-height: 48px;
  font-size: 26px;
  text-align: left;
  margin-bottom: 5px;
  transition: 0.2s;
}
.question:hover {
  background-color: var(--n500);
}
.answer {
  display: none;
  flex-direction: column;
  width: 70%;
  border-left: 5px ridge var(--p500);
}

/* NAMERULESET */
.name-ruleset {
  border-top: 3px solid var(--n400);
  border-left: none;
  border-right: none;
  border-radius: 0;
  width: 400px;
}
.submitBtn {
  margin: 0;
  border-radius: 0px 0px 15px 15px;
}

/* RULESPECS */
.rule-specs,
.name-ruleset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  height: auto;
  width: 100%;
  max-width: 350px;
  text-align: center;
  color: var(--n0);
  background-color: var(--n850);
  border-radius: 0px 0px 15px 15px;
  border: 3px solid var(--n400);
  border-top: none;
}